// ===============
// colors palette
// ===============
:root {
  --green-main: #4b644a;
  --blue-light: #adfcf9;
  --green-title: #315b54;
  --white-gray: #f5f5f5;
  --red-border: #f1afb6;
  --red-bg: #f7d1d5;
  --red-text: #6b363b;
  --green-border: #99c8b3;
  --green-bg: #cbe3d8;
  --green-text: #264738;
  --input-color: #89a894;
}
